.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  max-width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 6px;

  /* Positioning */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* show above element */
  left: 50%;
  transform: translateX(-50%);
  
  /* Fade in */
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* arrow */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.price {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
}
